profile=conventional
break-infix=fit-or-vertical
margin=78
max-indent=2
break-before-in=fit-or-vertical
break-cases=fit-or-vertical
if-then-else=fit-or-vertical
break-collection-expressions=fit-or-vertical
break-infix=fit-or-vertical