profile=janestreet
break-infix=fit-or-vertical
margin=80
max-indent=2
match-indent-nested=always
break-before-in=fit-or-vertical
break-cases=fit-or-vertical
if-then-else=fit-or-vertical
break-collection-expressions=fit-or-vertical
break-infix=fit-or-vertical
break-fun-decl=fit-or-vertical
let-binding-spacing=compact
parens-ite=false
parens-tuple=always
break-infix-before-func=false
wrap-comments=true